/*<<<<<<<<<<<<<<<<<<<<< REGISTER STYLES >>>>>>>>>>>>>>>>>>>>*/
.section__register{
    height: 90vh;
    background: #fff;
}

.register__form{
    position: relative;
    width: 400px;
    padding: 30px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgba(219, 218, 218, 0.1);
    border-radius: 15px;
}

.register__formHeader{
    font-size: 45px !important;
    margin-bottom: 2rem; 
    text-align: center;   
    letter-spacing: 2px;
    font-weight: 300 !important;
    color: #00DA9E;
}

.errorMsg{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(50deg, rgba(250,104,104,1) ,rgba(235, 39, 39, 1));
}

.successMsg{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    color: #838282;
    background: linear-gradient(50deg, rgb(163, 231, 202) ,rgb(70, 218, 156));
}
/*<<<<<<<<<<<<<<<<<<<<< LOGIN STYLES >>>>>>>>>>>>>>>>>>>>*/
.section__login{
    height: 90vh;
    background: #fff;
}
.googlebtn {
    text-align: center;    
}
.googlebtn > button{
    width: 340px;
    margin-bottom: 15px;
    background: transparent !important; 
    border-radius: 5px !important; 
    border: 1px solid  rgb(97, 94, 94) !important; 
    box-shadow: none !important;
}
.googlebtn > button:hover{   
    background: rgb(97, 94, 94) !important;  
    color: #fff !important;  
}

.login__form{
    position: relative;
    width: 400px;
    padding: 30px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgba(219, 218, 218, 0.1);
    border-radius: 15px;
}

.login__formHeader{    
    font-size: 45px !important;
    margin-bottom: 2rem; 
    text-align: center;   
    letter-spacing: 2px;
    font-weight: 300 !important;
    color: #00DA9E;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<< EDIT PROFILE >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.section__editProfile{
    height: 130vh;
    background: linear-gradient(50deg, rgb(241, 238, 238), rgb(180, 176, 176))
}

/*<<<<<<<<<<<<<<<<<<<<<<<<< INPUTS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
textarea,
input[type=text], 
input[type=email],
input[type=password],
textarea[type=text] {
    border: none;
    background: transparent;
    border-radius: 0;
    border-bottom: .2px solid rgb(132, 134, 134);
    transition: all .5s;
}
textarea,
input[type=text]:focus, 
input[type=email]:focus, 
input[type=password]:focus,
textarea[type=text]:focus {    
    background: transparent;    
    box-shadow: none;
    border-bottom: 1px solid #00DA9E;

}
input[type=file]{
    border: none;
    background: transparent;
    width: 150px;
    /* background: red;   */
    
}
