@import '../../index.scss';

.section-friends {
    padding: 3rem 0;

    &__header {
        text-align: center;
        margin-bottom: 5rem;

        &>h1 {
            &>span {
                color: $primary-light;
            }
        }
    }
}

.friends-card {
    margin: auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 5px;
    background: rgba($tertiary-light, .1);
    transition: $transition-sm;

    &:hover {
        background: rgba($tertiary-light, .3);
        box-shadow: 1px 1px 3px $tertiary-light;
    }

    &__img {
        text-align: center;

        &>img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;

        }

        &>a {
            color: $tertiary-dark;
            letter-spacing: 2px;

            &:hover {
                color: $tertiary-dark;
            }
        }
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }

}

@media screen and (min-width: 768px) {
    .section-friends {
        padding: 8rem 0;
    }
}