/* COLORS */
$primary-light: #00DA9E;
$primary-dark:rgb(163, 211, 156);
/**/
$secondary-light: rgb(163, 211, 156);
$secondary-dark: rgb(163, 211, 156);
/**/
$tertiary-light: rgb(179, 176, 176);
$tertiary-dark: rgb(67, 67, 67);

/*=======V2 color palette=======*/
$pink: rgb(237, 163, 164); //PINK ICING
$green: rgb(152, 221, 211); //PALE ROBIN EGG BLUE
$beige: rgb(248, 215, 165); //PROSECCO
$blue: rgb(138, 211, 250); //KUL SHARIF BLUE


$violet: rgb(142, 145, 244); //LAVENDER BLUE SHADOW
$violet-light: rgb(123, 116, 200); //KICKSTART PURPLE
$violet-dark: rgb(94, 98, 214); //EXODUS FRUIT

$white: rgb(255, 255, 255); //WHITE
$white-1: rgb(247, 245, 245); //WHITE

//$grey-light: rgb(244, 245, 244); //LIGHTHOUSE
$grey-light: rgb(246, 249, 252);
$grey: rgb(204, 204, 204); 
$grey-dark: rgb(166, 163, 166); //BLACKENED PEARL
$grey-dark-1: rgb(79, 76, 82); //BLACKENED PEARL
$grey-dark-2: rgb(38, 36, 38); //NERO


$white: #fff;
$black: #000;
$danger: orangered;

$transition-sm: all .3s;

$letter-space-sm: .3px;
$letter-space-lg: .6px;
$letter-space-xl: 1.3px;

//======MIXINS=======
%form-input{    
    border: none;
    background: $white-1;
    border-radius: 10px;
    color: $grey-dark;
    outline: none;
    padding: .85rem .5rem;
    caret-color: $violet;                
    &:focus{
        border: 1px solid $violet;                    
    }
    &::placeholder{
        color: $grey;
    }
}
%button-block{
    padding: 1rem 0;
    border: none;
    border-radius: 10px;    
    font-size: 1rem;
    font-weight: bold;
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 10px $grey;
    outline: none;             
}
%p-muted{
    color: $grey;
    font-size: .75rem;
    letter-spacing: 1px;
}

/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {        
    font-family: 'Lato', sans-serif;
    background: $white;
    
    }

.btn-green {
    width: 120px;
    height: 40px;
    display: block;
    // padding: 1rem 2rem;
    /* line-height: 60px; */
    text-transform: uppercase;
    color: $tertiary-dark;
    font-weight: 500;
    text-align: center;
    border: 1px solid $tertiary-light;
    border-radius: 50px;
    position: relative;
    transition: all .5s;
    background: transparent;
    overflow: hidden;
    letter-spacing: 1px;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 120%;
        top: 100%;
        left: 0;
        background: $primary-light;
        z-index: -1;
        transition: all .3s ease-out;

    }

    &:hover {
        color: rgb(255, 255, 255);
    }

    &:hover:before {
        /* top: 0; */
        top: -7px;
    }
}

.btn-default {
    width: 120px;
    height: 40px;
    display: block;
    // padding: 1rem 2rem;
    /* line-height: 60px; */
    text-transform: uppercase;
    color: $tertiary-dark;
    font-weight: 500;
    text-align: center;
    border: 1px solid $tertiary-light;
    border-radius: 50px;
    position: relative;
    transition: all .5s;
    background: transparent;
    overflow: hidden;
    letter-spacing: 1px;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 120%;
        top: 100%;
        left: 0;
        background: $tertiary-light;
        z-index: -1;
        transition: all .3s ease-out;

    }

    &:hover {
        color: $white;
    }

    &:hover:before {
        /* top: 0; */
        top: -7px;
    }
}